# 1. Reading Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns, matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('FuelConsumption.csv')

# 2. EDA

In [41]:
h=df.head()
h

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

# 2.1 Description

In [ ]:
df.describe()

# 2.2 Histopgram: Data distribution

In [ ]:
# pd.DataFrame(h).hist(figsize=(10,10))
df.hist(figsize=(10,10))
plt.show()
# sns.histplot(data=df,x='MODELYEAR')

# 2.3 Pair Plot

In [ ]:
sns.pairplot(df)

# 2.4 Correlation Matrix & Heat Map

In [ ]:
sns.heatmap(df.corr(),annot=True,cmap='Blues')

In [ ]:
df.corr()

# 3. Preprocessing

# 3.1 Checking Null Values

In [46]:
# null_val"=df.isnull().sum().sum
nullval=df.isnull().sum()
# null_val

In [47]:
null=pd.DataFrame(nullval,columns=['Null'])

In [24]:
null

                          Null
MODELYEAR                    0
MAKE                         0
MODEL                        0
VEHICLECLASS                 0
ENGINESIZE                   0
CYLINDERS                    0
TRANSMISSION                 0
FUELTYPE                     0
FUELCONSUMPTION_CITY         0
FUELCONSUMPTION_HWY          0
FUELCONSUMPTION_COMB         0
FUELCONSUMPTION_COMB_MPG     0
CO2EMISSIONS                 0

# 3.2 Deleting Duplicate Records/Rows

In [48]:
duplicates=df.duplicated().sum()
if(duplicates>0):
    print('There are ',duplicates,' duplicate values.')
if(duplicates==0):
    print("There is no duplicate values.")

There is no duplicate values.

In [50]:
df.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

# 3.3 Normalization

In [65]:
df.dtypes.iloc[0]

dtype('int64')

In [66]:
for i in  df:
    if(df.dtypes.iloc[i]==int64 or df.dtypes.iloc[i]==float64):
        numeric=i

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [MODELYEAR] of <class 'str'>